/*
	Primary Menu
*/
#site-navigation {
	.container {
		display: flex;
	}
	#primary-menu-container {
		position: relative;
		ul.menu,
		ul.sub-menu {
			list-style: none;
			margin-bottom: 0;
			z-index: 9;
			li.menu-item {
				margin-bottom: 0;
				a {
					display: flex;
					align-items: center;
					justify-content: space-between;
					i {
						@include font-size(14px);
						transition: transform 320ms ease;;
					}
					&.active {
						i {
							transform: rotate(180deg);
						}	
					}
				}
			}
			li.menu-item-has-children {
				// position: relative;
				ul {
					padding-left: 5px;
				}
			}
		}
		ul.menu {
			padding-left: 0;
			> li.menu-item {
				> a {
					font-weight: 700
					// text-transform: uppercase;
				}
			}
			> li.menu-item-has-children {
				> ul.sub-menu {
					li.menu-item {
						a {
							display: inline-flex;
							@include padding(5px 0);
						}
					}
				}
			}
		}
		ul.sub-menu {
			display: none;
		}
	}
	#header-top-menu {
		li {
			@include margin-left(15px);
			&:first-child {
				margin-left: 0;
			}
		}
		li.btn {
			@include padding(12px 20px);
		}
	}
  @include media-breakpoint-down(lg) {
		.container {
			flex-direction: column;
		}
		.nav-logo-btn-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#primary-menu-container {
			display: none;
			@include padding-top(20px);
			ul.menu,
			ul.sub-menu {
				li.menu-item {
					a {
						@include padding(14px 0);
					}
				}
			}
			ul.menu {
				> li.menu-item {
					> a {
						// @include font-size(16px);
						@include padding(14px 0);
					}
				}
				li.phone {
					a {
						display: block;
					}
				}
			}
		}
	}
  @include media-breakpoint-down(xxl) {
		#primary-menu-container {
			ul.menu {
				> li.menu-item {
					> a {
						@include font-size(14px);
					}
				}
			}
		}
	}
  @include media-breakpoint-up(lg) {
		.container {
			align-items: center;
		}
		.navbar-toggler {
			display: none;
		}
		#primary-menu-container {
			ul.menu,
			ul.sub-menu {
				li.current-menu-item {
					> a {
						color: $secondary;
					}
				}
				li.menu-item {
					a {
						&:hover,
						&:active,
						&:focus {
							color: $secondary;
						}
					}
				}
			}
			ul.menu {
				display: flex;
				align-items: center;
				> li.menu-item {
					> a {
						@include padding(10px);
					}
				}
				> li.menu-item-has-children {
					> ul.sub-menu {
						width: 100%;
						position: absolute;
						border-radius: 20px;
						box-shadow: 0 3px 10px rgb( 0 0 0 / 30% );
						grid-template-columns: repeat( 3, 1fr );
						left: 0;
						list-style-position: inside;
						list-style-type: none;
						margin-left: 0;
						background-color: $white;
						@include padding( 20px );
					}
				}
			}
		}
	}
  @include media-breakpoint-up(xxl) {
		#primary-menu-container {
			ul.menu {
				> li.menu-item {
					> a {
						// @include font-size(16px);
						@include padding(10px 16px);
					}
				}
			}
		}
	}
}
