.entry-header-single-post {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.6);
  }
  .entry-title {
    @include font-size(48px);
  }
  .entry-header-content {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    @include font-size(20px);
  }
}