button {
  border: 0;
}

.btn {
  display: inline-flex;
  font-weight: 700;
  line-height: 1;
  // text-transform: uppercase;
  color: $white;
  text-align: center;
  @include padding(14.5px 38px);
  background-color: $secondary;
  border-radius: 5px;
  // border: none;
  cursor: pointer;
	@include transition(color $time $ease, background-color $time $ease, border $time $ease);

  .icon-btn {
    margin-left: 5px;
    svg {
      vertical-align: top;
      path {
        @include transition(fill $time $ease);
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken( $secondary, 10% );
    // border: none;
  }
  
  &.btn-white {
    color: $secondary;
    border: 1px solid $secondary;
    background-color: $white;
    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $secondary;
      .icon-btn {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  &.btn-cyan {
    background-color: $cyan;
    &:hover,
    &:focus,
    &:active {
      color: $black;
      border: 2px solid $cyan;
      background-color: $secondary;
    }
  }
  &.btn-primary {
    color: $white;
    border: 2px solid $black;
    background-color: $primary;
    &:hover,
    &:focus,
    &:active {
      color: $primary;
      background-color: $cyan;
      border: none;
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    &:hover,
    &:focus,
    &:active {
      color: $black;
      border: 2px solid $secondary;
      background-color: $cyan;
    }
  }
}

.btn-close {
  @include font-size(26px);
  i {
    transition: color $time $ease;
  }
  &:hover,
  &:focus,
  &:active {
    i {
      color: darken( $red, 10% );
    }
  }
}

// Mobile nav-menu toggle
.navtoggle {
  display: none;
  @include media-breakpoint-down(lg) {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    width: 60px;
    z-index: 2;
    // background: $secondary;
    // cursor: pointer;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // @include border-radius(16px);
    
    &__icon {
      position: relative;
      height: 2px;
      width: 40px;
      background: $primary;
      transform: scale(0.7);
      
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        height: 2px;
        width: 100%;
        background: $primary;
      }
      
      &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        height: 2px;
        width: 100%;
        background: $primary;
      }
    }
    
    &__icon,
    &__icon:before,
    &__icon:after {
      will-change: transform;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    &--active {
      .navtoggle__icon {
        transform: scale(0.7) rotate(90deg);
        &:before {
          transform: rotate(-45deg) translate(-7px,-7px) scaleX(0.7);
        }
        
        &:after {
          transform: rotate(45deg) translate(-7px,7px) scaleX(0.7);
        }
      }
    }
  }
}

.btn-group-pricing-plans {
  button.btn {
    &.active {
      color: $white;
      background-color: $secondary;
    }
  }
  .btn-pricing-plan-monthly {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-pricing-plan-annual {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.woocommerce,
.woocommerce-page {
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    .button {
      color: $white;
      background-color: $secondary;
      transition: $transition-default;
      &:hover,
      &:focus {
        color: $white;
        background-color: darken( $secondary, 10% );
      }
    }
  }
  #payment {
    #place_order {
      width: auto;
      float: right;
      @include padding(14.5px 38px);
      border-radius: 5px;
      margin-bottom: 0;
    }
  }
}

.woocommerce {
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    background-color: $secondary;
    transition: $transition-default;
    &:hover,
    &:focus {
      background-color: darken( $secondary, 10% );
    }
  }
}

.btn-contact-us-modal {
  &:focus,
  &:hover {
    color: $secondary;
  }
}