a {
	text-decoration: none;
	@include transition(color $time $ease);
	
	&:hover,
	&:focus {
		color: $black;
		text-decoration: none;
	}
}

.link-view-all-posts {
	@include margin-bottom(30px);
	&:hover,
	&:focus {
		color: $secondary;
	}
	i {
		font-size: 13px;
	}
}