section.faq {
  .section__title {
    @include margin-bottom(60px);
  }
  .faq__wrapper {
    &-question {
      @include padding-top(30px);
      @include padding-bottom(30px);
      cursor: pointer;
      text-transform: none;
      // transition: $transition-default;
      @include transition( color $time $ease );
      &:hover,
      &.active {
        color: $secondary;
      }
      // i {
        // transition: $transition-default;
        // @include transition( transform $time $ease );
      // }
      &.active {
        i {
          transform: rotate(-180deg);
        }
      }
    }
    &-answer {
      @include padding-bottom(30px);
      // @include padding-top(16px);
      p {
        @include font-size(15px);
        font-weight: 600;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  // @include media-breakpoint-up(sm) {
  //   .faq__wrapper {
  //     &-answer {
  //       @include padding-left(8px);
  //       @include padding-right(8px);
  //     }
  //   }
  // }
}