.two_col_6_6 {
  &-col-one-content {
    @include margin-bottom(20px);
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  @include media-breakpoint-down(lg) {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
    &-col-one {
      &--inside {
        @include margin-bottom(30px);
      }
    }
  }
  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    &-col-one,
    &-col-two {
      flex: 0 0 auto;
      width: 50%;
    }
    &-col-one {
      display: flex;
      align-items: center;
    }
    &-col-two {
      height: 480px;
    }
    &-col-one {
      &--inside {
        max-width: 480px;
        .two_col_6_6-col-one--content {
          ul {
            columns: 2;
          }
        }
      }
      &.order-2 {
        .two_col_6_6-col-one--inside {
          margin-right: auto;
          padding-left: 30px;
          padding-right: 12px;
        } 
      }
      &.order-1 {
        .two_col_6_6-col-one--inside {
          margin-left: auto;
          padding-right: 30px;
          padding-left: 12px;
        } 
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &-col-one {
      &--inside {
        max-width: 570px;
      }
    }
    &-col-two {
      height: 580px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &-col-one {
      &--inside {
        max-width: 660px;
      }
    }
    &-col-two {
      height: 680px;
    }
  }
}