nav.navigation.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  @include padding-top(40px);
  @include padding-bottom(40px);
  .nav-links {
    display: flex;
  }
  .page-numbers {
    @include font-size(18px);
    @include padding(8px 18px);
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid $primary;
    border-radius: 6px;
    &:hover,
    &:focus,
    &.current {
      color: $primary;
      background-color: $cyan;
    }
  }
}